/**
 * LESS CSS Created with WebStorm.
 * Author: Jerry
 * Date: 14-4-9
 */
/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ */
/**
 *  TODO will need to remove settings on HTML since we can't namespace it.
 *  TODO with the prefix, should I group by selector or property for weight savings?
 */
html {
  color: #000;
  background: #FFF;
}
/*	TODO remove settings on BODY since we can't namespace it.*/
/*	TODO test putting a class on HEAD.		- Fails on FF. */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}
.clearfix {
  overflow: visible;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body {
  _position: relative;
  _overflow: hidden;
}
.floating .inner {
  width: 1000px;
  margin: 0 auto;
}
.floating .inner .floating-tab {
  _position: absolute;
  _top: expression( ( 50 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  width: 185px;
  height: 212px;
  margin-left: 1020px;
  z-index: 100;
  background: url("img/floating-tab.png") no-repeat;
}
.floating .inner > .floating-tab {
  position: fixed;
  top: 50px;
}
.floating .inner a {
  display: block;
  width: 185px;
  height: 52px;
  margin-bottom: 1px;
}
/**
 * LESS CSS Created with WebStorm.
 * Author: Jerry
 * Date: 14-4-3
 */
.popup-framework {
  display: none;
}
.popup-overlay {
  font-family: "microsoft yahei", "hiragino sans gb", sans-serif;
  _position: absolute;
  _left: 0;
  _top: 0;
  z-index: 9000;
}
.popup-overlay .popup-mask {
  _position: absolute;
  _top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  _width: expression( ( document.documentElement.clientWidth > 1100 ? document.documentElement.clientWidth : 1100) + 'px');
  _height: expression( document.documentElement.clientHeight );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#66000000');
  z-index: 9001;
  zoom: 1;
}
.popup-overlay > .popup-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-overlay .popup-window {
  _position: absolute;
  _top: expression( ( document.documentElement.clientHeight / 2 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  _left: expression( ( document.documentElement.clientWidth / 2 + ( ignoreMe = document.documentElement.scrollLeft) ) + 'px' );
  width: 400px;
  height: 300px;
  padding: 1px;
  background-color: #fff;
  z-index: 9002;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.popup-overlay > .popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup-overlay .popup-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  z-index: 9003;
  background: url("img/close-button.png") no-repeat;
  background-size: 20px 20px;
}
.popup-overlay.invisible {
  visibility: hidden;
}
.popup-overlay.invisible .popup-window {
  opacity: 0;
}
.popup-window {
  width: 85%;
  height: auto;
  background: none;
}
.popup-prize {
  background: #e7e7e7;
  border: 1px solid #000;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.popup-prize .popup-inner {
  width: 260px;
  padding: 20px 10px;
}
.popup-prize .popup-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #690010;
  text-align: center;
}
.popup-prize .popup-inner h3 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
}
.popup-prize .popup-inner h3 span {
  font-size: 16px;
  color: #690010;
}
.popup-prize .popup-inner p {
  font-size: 14px;
  line-height: 20px;
  color: #690010;
  text-align: center;
  padding: 10px 0;
}
.popup-prize .popup-inner a {
  display: block;
  margin: 20px auto 0;
  width: 80%;
  border: 2px solid #808080;
  background-color: #c52606;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px #000000;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.popup-prize .popup-inner label {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #888;
  padding: 10px 0;
  width: 44px;
}
.popup-prize .popup-inner input[type=text] {
  display: block;
  margin: -40px 0 10px 44px;
  width: 200px;
  border: 1px solid #808080;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  height: 24px;
  padding: 7px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.popup-prize .popup-inner input[type=text]:focus {
  outline: 0 none;
}
body {
  font-family: "microsoft yahei", "hiragino sans gb", sans-serif;
  color: #444;
  min-width: 320px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hide {
  display: none !important;
}
.wrap {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  background: url("img/background-mobile.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.wrap .logo img {
  width: 110px;
  margin: 0 auto;
}
.wrap .button-group {
  padding: 20px 0;
}
.wrap .button-group a.button {
  display: block;
  margin: 0 auto;
  width: 60%;
  border: 2px solid #808080;
  background-color: #c52606;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 -1px #000000;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap .preview,
.wrap .view {
  padding-bottom: 10px;
}
.wrap .preview .title,
.wrap .view .title {
  padding: 20px 0;
}
.wrap .preview .title img,
.wrap .view .title img {
  max-width: 300px;
  margin: 0 auto;
}
.wrap .preview .share-info,
.wrap .view .share-info {
  margin: 0 5%;
  border: 1px solid #690010;
  padding: 2.5%;
}
.wrap .preview .share-info .jacobs-image,
.wrap .view .share-info .jacobs-image {
  width: 90%;
  border: 3px solid #ffffff;
  margin: 0 auto;
}
.wrap .preview .share-info p,
.wrap .view .share-info p {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
.wrap .preview .share-info p strong,
.wrap .view .share-info p strong {
  font-weight: bold;
  color: #690010;
}
.wrap .preview h2,
.wrap .view h2 {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #690010;
  margin: 10px 5%;
}
.wrap .preview p,
.wrap .view p {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin: 10px 5%;
}
.wrap .preview p i,
.wrap .view p i {
  font-weight: bold;
  color: #690010;
  font-size: 16px;
}
.wrap .preview a.send-invitation,
.wrap .view a.send-invitation {
  width: 110px;
  display: block;
  margin: 10px auto;
}
.wrap .preview a.send-invitation img,
.wrap .view a.send-invitation img {
  width: 100%;
}
.wrap .preview a.app-send-invitation,
.wrap .view a.app-send-invitation {
  margin-bottom: 20px;
}
.wrap .preview .instruction,
.wrap .view .instruction {
  margin: 20px 5%;
  padding: 2.5%;
  background-color: #f4ebe0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap .preview .instruction img,
.wrap .view .instruction img {
  width: 90%;
  max-width: 425px;
  margin: 0 auto;
}
.wrap .preview .instruction.no-weixin,
.wrap .view .instruction.no-weixin {
  display: none;
}
.wrap .preview .qr-code,
.wrap .view .qr-code {
  margin: 0 auto;
  width: 120px;
}
.wrap .make-invitation h2 {
  font-size: 20px;
  line-height: 30px;
  background: url("img/trim.png") no-repeat center bottom;
  background-size: 100%;
  text-align: center;
  color: #690010;
  font-weight: bold;
  padding: 5px 0;
}
.wrap .make-invitation h3 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #690010;
  padding: 5px 0;
}
.wrap .make-invitation .timing {
  text-align: center;
  line-height: 30px;
  padding: 10px 0;
}
.wrap .make-invitation .timing p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.wrap .make-invitation .timing .select-group {
  display: inline-block;
  position: relative;
}
.wrap .make-invitation .timing .view {
  display: block;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  background: #f1e6d2;
  z-index: 0;
  border: 1px solid #690010;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap .make-invitation .timing .input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0 none;
  opacity: 0;
  z-index: 1;
}
.wrap .make-invitation .choose-date {
  padding: 10px 0;
}
.wrap .make-invitation .choose-date .calendar-button {
  display: block;
  margin: 0 auto;
  width: 25%;
}
.wrap .make-invitation .choose-time {
  padding: 10px 0;
}
.wrap .make-invitation .choose-restaurant ul {
  margin: 0 auto;
  width: 85%;
  background-color: #f1e6d2;
  border: 1px solid #690010;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.wrap .make-invitation .choose-restaurant ul li {
  padding: 5px;
  background: url("img/trim.png") no-repeat center top;
  background-size: 320px auto;
}
.wrap .make-invitation .choose-restaurant ul li:first-child {
  background: none;
}
.wrap .make-invitation .choose-restaurant ul li a.info {
  display: block;
  padding: 5px 20px 5px;
  text-decoration: none;
}
.wrap .make-invitation .choose-restaurant ul li a.info:active,
.wrap .make-invitation .choose-restaurant ul li a.info.active {
  background-color: #dc967e;
}
.wrap .make-invitation .choose-restaurant ul li a.info h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  color: #000000;
  padding: 0;
}
.wrap .make-invitation .choose-restaurant ul li a.info p {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.wrap .make-invitation .text-restaurant {
  margin: 10px 0;
}
.wrap .make-invitation .text-restaurant input {
  margin: 0 auto;
  width: 85%;
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 30px;
  background: #f4eee4;
  border: 1px solid #690010;
  color: #444444;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap .make-invitation .text-restaurant input:focus {
  outline: 0 none;
}
.wrap .lottery .title {
  padding: 20px 0;
}
.wrap .lottery .title img {
  max-width: 300px;
  margin: 0 auto;
}
.wrap .lottery h2 {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #690010;
  margin: 0 5%;
}
.wrap .lottery p {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  margin: 10px 5%;
}
.wrap .lottery p span {
  color: #690010;
}
.wrap .lottery p i {
  font-weight: bold;
  color: #690010;
  font-size: 16px;
}
.wrap .lottery .lottery-zone {
  margin: 0 auto;
  width: 300px;
  overflow: auto;
}
.wrap .lottery .lottery-zone .poker {
  margin: 10px;
  float: left;
  position: relative;
  width: 80px;
  height: 112px;
  z-index: 1;
}
.wrap .lottery .lottery-zone .poker .front,
.wrap .lottery .lottery-zone .poker .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.wrap .lottery .lottery-zone .poker .front img,
.wrap .lottery .lottery-zone .poker .back img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.wrap .lottery .lottery-zone .poker .front {
  left: 0;
  cursor: pointer;
}
.wrap .lottery .lottery-zone .poker .back {
  right: 0;
}
.wrap .lottery .lottery-zone .animating {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrap .lottery .lottery-zone .cell {
  overflow: hidden;
}
.wrap .lottery a.send-invitation {
  display: block;
  margin: 20px auto;
  width: 130px;
}
.wrap .lottery a.send-invitation img {
  width: 100%;
}
.wrap .lottery .qr-code {
  margin: 0 auto;
  width: 120px;
  padding-bottom: 40px;
}
.wrap .lottery .rule {
  background-color: #22272a;
  padding-bottom: 40px;
}
.wrap .lottery .rule a.rule-button {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  background-color: #22272a;
  z-index: 100;
}
.wrap .lottery .rule a.rule-button span {
  display: block;
  padding-top: 14px;
  font-size: 12px;
  height: 16px;
  text-align: center;
  background: url("img/expand-arrow.png") no-repeat center 3px;
  background-size: 15px auto;
  background-position: center -27px;
}
.wrap .lottery .rule .rule-text {
  display: none;
  padding: 20px;
}
.wrap .lottery .rule .rule-text h2,
.wrap .lottery .rule .rule-text p {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  font-weight: normal;
  margin: 0;
}
.wrap .lottery .rule.expand a.rule-button span {
  background-position: center 0;
}
.wrap .lottery .rule.expand .rule-text {
  display: block;
}
.wrap .promo .title {
  padding: 20px 0;
}
.wrap .promo .title img {
  max-width: 300px;
  margin: 0 auto;
}
.wrap .promo h2 {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #690010;
  margin: 0 5%;
}
.wrap .promo p {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  margin: 10px 5%;
}
.wrap .promo p span {
  color: #690010;
}
.wrap .promo p i {
  font-weight: bold;
  color: #690010;
  font-size: 16px;
}
.wrap .promo .promo-info p {
  font-size: 16px;
}
.wrap .promo .promo-info p.hint {
  color: #690010;
  font-size: 12px;
}
.wrap .promo .promo-info a {
  display: block;
  width: 280px;
  height: 175px;
  margin: 0 auto;
  background: url("img/loading.png") no-repeat;
  background-size: 100%;
}
.wrap .promo .promo-info a img {
  width: 280px;
  height: 175px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.wrap .promo a.go-lottery {
  display: block;
  margin: 20px auto;
  width: 130px;
}
.wrap .promo a.go-lottery img {
  width: 100%;
}
.wrap .promo .qr-code {
  margin: 0 auto;
  width: 120px;
  padding-bottom: 60px;
}
