/**
 * LESS Created by Jerry on 2014/5/29.
 */
body {
  _position: relative;
  _overflow: hidden;
}
.floating .inner {
  width: 1000px;
  margin: 0 auto;
}
.floating .inner .floating-tab {
  _position: absolute;
  _top: expression( ( 50 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  width: 185px;
  height: 212px;
  margin-left: 1020px;
  z-index: 100;
  background: url("img/floating-tab.png") no-repeat;
}
.floating .inner > .floating-tab {
  position: fixed;
  top: 50px;
}
.floating .inner a {
  display: block;
  width: 185px;
  height: 52px;
  margin-bottom: 1px;
}
/** * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/) * http://cssreset.com * Copyright 2012 Yahoo! Inc. All rights reserved. * http://yuilibrary.com/license/ */
/**
 *  TODO will need to remove settings on HTML since we can't namespace it.
 *  TODO with the prefix, should I group by selector or property for weight savings?
 */
html {
  color: #000;
  background: #FFF;
}
/*	TODO remove settings on BODY since we can't namespace it.*/
/*	TODO test putting a class on HEAD.		- Fails on FF. */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}
.clearfix {
  overflow: visible;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/**
 * LESS Created by Jerry on 2014/5/29.
 */
.popup-overlay {
  font-family: "microsoft yahei", "hiragino sans gb", sans-serif;
  _position: absolute;
  _left: 0;
  _top: 0;
  z-index: 9000;
}
.popup-overlay .popup-mask {
  _position: absolute;
  _top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  _width: expression( ( document.documentElement.clientWidth > 1100 ? document.documentElement.clientWidth : 1100) + 'px');
  _height: expression( document.documentElement.clientHeight );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#66000000');
  z-index: 9001;
  zoom: 1;
}
.popup-overlay > .popup-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-overlay .popup-window {
  _position: absolute;
  _top: expression( ( document.documentElement.clientHeight / 2 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
  _left: expression( ( document.documentElement.clientWidth / 2 + ( ignoreMe = document.documentElement.scrollLeft) ) + 'px' );
  z-index: 9002;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.popup-overlay > .popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
}
.popup-overlay .popup-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  z-index: 9003;
}
.popup-overlay.invisible {
  visibility: hidden;
}
.header {
  min-width: 1600px;
}
.footer-static {
  min-width: 1600px;
  padding: 20px 0;
  text-align: center;
  background-color: #ffffff;
}
.footer-static ul {
  margin-bottom: 10px;
}
.footer-static li {
  display: inline;
  margin-right: 8px;
  color: #CCC;
}
.footer-static li a {
  margin-right: 10px;
  color: #999;
  text-decoration: none;
}
.footer-static li a:hover {
  color: #C00;
}
.footer-static p {
  color: #999;
}
.footer-static p a {
  color: #999;
  text-decoration: none;
}
.footer-static p a:hover {
  color: #C00;
}
.main-content {
  font-family: "microsoft yahei", "hiragino sans gb", sans-serif;
  background: url("../img/background.jpg") no-repeat center top;
  overflow: hidden;
  min-width: 1600px;
}
.main-content .inner {
  position: relative;
  width: 1000px;
  height: 1030px;
  background: url("../img/background.jpg") no-repeat center top;
  margin: 0 auto;
}
.main-content .inner .logo {
  display: block;
  width: 210px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -200%;
  overflow: hidden;
  outline: 0 none;
}
.main-content .inner .title {
  text-indent: -200%;
  overflow: hidden;
  outline: 0 none;
}
.main-content .inner .title h1 {
  width: 700px;
  height: 220px;
  padding-top: 80px;
  margin: 0 auto;
}
.main-content .inner .title h2 {
  width: 700px;
  height: 120px;
  margin: 0 auto;
}
.main-content .inner .prize-draw {
  position: relative;
  padding: 80px 0 60px;
  height: 300px;
}
.main-content .inner .prize-draw a {
  display: block;
  position: absolute;
  width: 250px;
  height: 300px;
  left: 100px;
  top: 80px;
}
.main-content .inner .prize-info {
  width: 840px;
  margin-left: 50px;
}
.main-content .inner .prize-info .column {
  float: left;
  width: 50%;
}
.main-content .inner .prize-info h3 {
  font-size: 15px;
  color: #fff;
  background-color: #60bdd4;
  text-align: center;
  line-height: 25px;
  white-space: nowrap;
  width: 80px;
  margin: 4px 0;
}
.main-content .inner .prize-info p {
  color: #83786f;
  font-size: 13px;
  line-height: 20px;
}
.main-content .inner .prize-info p strong {
  font-size: 15px;
  font-weight: bold;
}
.main-content .inner .special-issue {
  position: absolute;
  width: 260px;
  margin-left: 1000px;
  left: 0;
  top: 350px;
  color: #404243;
}
.main-content .inner .special-issue h3 {
  height: 45px;
  text-indent: -200%;
  overflow: hidden;
  outline: 0 none;
}
.main-content .inner .special-issue p {
  font-family: 'simsun', serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
}
.main-content .inner .special-issue dl {
  margin-top: 40px;
  text-align: center;
}
.main-content .inner .special-issue dl dt {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}
.main-content .inner .special-issue dl dt a {
  color: #404243;
}
.main-content .inner .special-issue dl dd {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}
.popup-window .popup-close {
  width: 50px;
  height: 60px;
  right: 0;
  top: 0;
  background: url("../img/popup-close.png") no-repeat;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.popup-window .popup-info {
  width: 360px;
  height: 215px;
  padding: 50px 50px 50px 420px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: #fff200 url("../img/popup-image.jpg") no-repeat left top;
}
.popup-window .popup-info h1 {
  color: #00b3d8;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  white-space: nowrap;
}
.popup-window .popup-info h1 a {
  color: #404243;
}
.popup-window .popup-info h2 {
  font-size: 26px;
  line-height: 44px;
  white-space: nowrap;
}
.popup-window .popup-info .hint {
  margin: 25px 0 0 -35px;
  border-top: 1px solid #e3d700;
  padding: 20px 35px;
  width: 300px;
  color: #404243;
  font-size: 13px;
  line-height: 20px;
}
