body, div, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: normal
}
body {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #323232;
	line-height: 1.5em;
	background-color:#e6e6e6;
}
a {
	text-decoration: none;
}

.active-title{
	background-color: #ffffff;
}
.active-content{
	box-sizing: border-box;
}


button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline;
}
textarea, input {
	resize: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
textarea {
	resize: none;
	-webkit-appearance: none
}
ul, ol {
	list-style: none
}
em {
	font-style: normal
}
section {
	zoom: 1
}

.active-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../img/bg.jpg') center no-repeat;
	background-size: auto 100%;
}

.active-inner{
	position: absolute;
	width: 100%;
	height: 1000px;
	z-index: -1;
	background: url('../img/inner.jpg') top no-repeat;
	background-size: 100% auto;
}

.active-title {
	
	padding: 10px 15px;
	background: #f55e45;
	color: #ffffff;
}
.active-title .icon {
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 59px;
	height: 8px;
	margin-left: -30px;
	background: url("i/icon.png") no-repeat;
	-webkit-background-size: 59px auto;
	background-size: 59px auto
}
.active-content {
	padding: 0 15px
}
.active-content .title {
	padding: 20px 10px;
	padding-bottom:10px;
}
.active-content .title h4 {
	font-size: 20px;
	font-weight: normal;
	line-height: 28px
}
.detail-content li span {
	color: #d8d8d8
}
.detail-content {
	padding: 10px;
	border-top: 1px dashed #d8d8d8
}
.detail-content li {
	line-height: 30px;
	font-size: 14px
}
.title p {
	font-size: 14px;
	line-height: 20px
}
.ticket-number {
}
.shop-list-link {
	line-height: 50px
}
.shop-list-link ul li {
	display: inline-block;
	padding: 0 10px
}
.more-arrow {
	float: right
}
.more-arrow {
	width: 20px;
	height: 50px;
	background: url("../img/arrow.png") no-repeat;
	-webkit-background-size: 42px 50px;
	background-size: 42px 50px;
}
.use-ticket-content {
	height: 100px;
	background-color: #e6e6e6;
	padding-top: 15px;
	border-top: 1px solid #c8c8c8
}
.use-ticket-link {
	background-color: #ff8400;
	padding:10px 10px;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	
}

.use-ticket-link p {
	display: inline-block;
	line-height: 1.5em;
}

.active-border {
	border-top: 1px solid #c8c8c8
}
.overlay{
	display: none;
	background-color: rgb(0, 0, 0);
	border-top-width: 1px;
	border-top-style:;solid;
	border-top-color: rgb(0, 0, 0);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
	opacity: 0.7
}
.alert-view {
	height: 220px;
	width: 280px;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	top:0px;
	right: 20px;
	background: url('../img/alert-content.jpg') ;
	background-size: 100% auto;
	padding: 7px;
	box-sizing:border-box;
	z-index: 100000;
}
.alert-message {
	overflow: hidden;
	height: 70%;
	text-align: center;
	line-height: 100px;
	border-bottom: 1px solid #c8c8c8
}
.alert-view ul li {
	display: inline-block;
	width: 49%;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #c8c8c8;
	box-sizing: border-box;
}
.primary-button {
	color: #ff8400;
	border-right: 0;
}

.shop-list .tit {
	position: relative;
	padding-bottom: 5px;
	font-size: 18px;
	color: #696969
}
.shop-list .explai {
	display: inline;
	color: #9d9992;
	font-size: 14px
}
.shop-list .location {
	color: #9d9992;
	float: right
}
.shop-list li {
	display: list-item;
	height: 68px;
	text-align: -webkit-match-parent
}
.shop-list li a {
	padding: 5px;
	border-bottom: 1px solid #ededed;
	display: block
}
.shop-list li:last-child a{
	border-bottom: 0px;
}
.use-ticket-status{
	background-color: #c6c6c6;
	font-size: 16px;
}
.title{
	position: relative;
}

.title i{
	position: absolute;
	width: 80px;
	height: 49px;
	top:0;
	right: 0;
	background-size: 78px auto;
}

.alreadyused{
	background: url('i/label_alreadyused.png') no-repeat;
}

.expired{
	background: url('i/label_expired.png') no-repeat;
}

.notstarted{
	background: url('i/label_notstarted') no-repeat;
}

.active-content{
	padding-top: 43%;
}
.event-link{
	display: block;
	margin: 0 auto;
}

.event-intro{
	bottom:13%;
	left: 18%;
	position: absolute;
	width: 64%;
	font-size: 12px;
}	

@media(min-width:321px ){
	.ticket{
		margin-top: 200px!important;
	}
}

@media (min-height: 500px) {
	.active-content{
	padding-top: 50%;
	}
}

.content-main{
	width: 320px;
	height: 800px;
	margin: 0 auto;
	position:relative;
}
.role-intro{
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	background: white;
	overflow: auto;
	
}
.role-intro-content{
	display: block;
	position: fixed;
	height:98%;
}

.role-back{
	background-color: white;
}
.role-intro-back{
	display: block;
	margin: 0 auto;
	width: 100%;
	border-top: 1px solid white;
}

.role-title{
	padding: 0 15px;
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
}

.role-section{
	padding: 0 15px;
	font-size: 14px;
	margin-bottom: 8px;
}
.role-link{
	display: block;
	position: absolute;
	bottom: 0px;
	width: 320px;
	height: 20px;
	left: 0px;
}

.number-input{
  width: 115px;
  height: 15px;
  font-size: 14px;
  position: absolute;
  top: 333px;
  right: 36px;
}

.yonghe-inner{
  width: 100%;
  height: 1000px;
  min-width: 1000px;
  background: url('../img/inner.jpg') top center no-repeat;
}

.number-button{
  display: block;
  width: 130px;
  height: 30px;
  position: absolute;
  top: 363px;
  right: 25px;
  cursor: pointer;
  background: url('../img/number-button.png') no-repeat;
  background-size: 100% auto;
}

.ticket{
  display: block;
  width: 280px;
  height: 400px;
  margin: 0 auto;
  margin-top: 160px;
}
.right-ticket{

  display: block;
  width: 280px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert-content{
	width: 280px;
	height: 100%;
	
}

.alert-corner{
	width: 15px;
	height: 15px;
	float: right;
}
#number-result{
	display: block;
	text-align: center;
	margin:0 auto;
	margin-top: 80px;

}
#yonghe-button{
	margin-top:10px;
	display: block;
	width: 110px;
	height: 28px;
	line-height: 28px;
	margin:0 auto;
	margin-top: 50px;
	background: #e60027;
	color: white;
	border-radius: 4px;
	text-align: center;
}

.overlay-quit{
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000000;
	opacity: 0.94;
	left: 0;
	top:0; 
	display: block;
}
.nologin{
	background: url('../img/nologin.png') center center no-repeat;
	background-size: 130px 120px;
	width: 130px;
	height: 120px;
	margin: 0 auto;
	margin-top:200px;
	position: relative;  
}
.noprize{
	background: url('../img/noprize.png') center center no-repeat;
	background-size: 130px 120px;
	width: 130px;
	height: 120px;
	margin: 0 auto;
	margin-top:200px;
	position: relative;  	
}
.login-quit{
	display: block;
}