@import "base-old.v10.css";
@import "base.css";
@import "common.css";

body{
	background-color: #f8cebf;
}
.width1000{
	background-color: #f9f7ee;
	border-left: 1px solid #494949;
	border-right: 1px solid #494949;
	width: 1320px;
}

.top{
	background: url(../images/top.jpg) center 32px no-repeat #f9f7ee;
	height: 286px;
	padding: 32px 25px 0;
	.width1000{
		background: url(../images/top.jpg) center top no-repeat;
		height: 286px;
	}
}
.middle{
	padding: 0 25px;
	background: url(../images/middle.jpg) center top no-repeat #f9f7ee;
	height: 294px;
	.width1000{
		background: url(../images/middle.jpg) center top no-repeat;
		height: 294px;
	}
}
.bottom{
	padding: 0 25px 15px;
	background: url(../images/bottom.jpg) center top no-repeat #f9f7ee;
	height: 341px;
	.width1000{
		background: url(../images/bottom.jpg) center top no-repeat;
		height: 341px;
	}
}
.draw{
	position: absolute;
	z-index: 100;
	top: -80px;
	left: 30px;
}

.middle{
	.turntable{
		position: absolute;
		top: 55px;
		left: 51px;
		font: 14px 'Microsoft Yahei';
		color: #162b75;
		font-weight: bold;
		line-height: 40px;
		z-index: 1;
		width: 250px;
		height: 169px;
		overflow: hidden;
		ul{
			width: 242px;
			height: 160px;
			display: block;
		}
	}
	.maskoverlay{
		position: absolute;
		top: -5px;
		left: 0px;
		background: url(../images/maskoverlay.png) left top repeat-x;
		width: 250px;
		height: 175px;
		z-index: 2;
	}
}
.bottom{
	.rules-btn,
	.shop-address{
		position: absolute;
		display: block;
		width: 88px;
		height: 28px;
		top: 24px;
		left: 34px;
		z-index: 500;
	}
	.shop-address{
		top: 62px;
	}
	.winner-list{
		position: absolute;
		top: 25px;
		right: 50px;
		width: 240px;
		.wrapper{
			height: 50px;
			overflow: hidden;
			.roller{
				li{
					font-size: 14px;
					line-height: 24px;
					color: #172a75;
				}
			}
		}
	}
	.showprize-block{
		position: absolute;
		top: 260px;
		right: 130px;
		width: 220px;
		height: 40px;
		line-height: 20px;
		font-size: 14px;
		font-weight: bold;
		color: #172a75;
		text-align: center;
	}
}
.overlay{
	width: 1260px;
	height: 865px;
	position: absolute;
	top: 60px;
	left: 30px;
	background: url(../images/overlay-bg.png);
	z-index: 1000;
	.close-btn{
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 30px;
		right: 30px;
		background: url(../images/close.png) center center no-repeat;
	}
	.content-box{
		text-align: center;
		width: 500px;
		height: 400px;
		margin: 130px auto 0;
		.prize-text{
			font-size: 26px;
			color: #ff3c00;
			font-weight: bold;
			span{
				font-size: 16px;
			}
		}
		.prize-tip{
			margin: 20px auto 5px;
			color: #fff;
			font-size: 18px;
		}
		.prize-tip1{
			margin: 5px auto;
			color: #fff;
			font-size: 14px;
		}
		#mobileText{
			border: none;
			background: #fff;
			width: 300px;
			height: 26px;
			padding: 7px;
			font-size: 18px;
			line-height: 26px;
		}
		#content-message-btn{
			display: block;
			width: 100px;
			height: 40px;
			font-size: 18px;
			background-color: #ff3c00;
			color: #fff;
			text-align: center;
			line-height: 40px;
			margin: 20px auto;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
	}
	.rules-box{
		margin: 80px 150px 0 150px;
		font-size: 12px;
		color: #fff;
		line-height: 24px;
		dt{
			font-size: 18px;
			font-weight: bold;
			margin-top: 10px;
			img{
				vertical-align: middle;
				margin-bottom: 10px;
			}
		}
	}
	.noprize,
	.nologin,
	.weizhongjiang{
		position: relative;
		width: 262px;
		height: 245px;
		background: url(../images/noprize.png) center center no-repeat;
		margin: 260px auto 0;
	}
	.weizhongjiang{
		background-image: url(../images/weizhongjiang.png);
	}
	.nologin{
		background: url(../images/nologin.png) center center no-repeat;
		.login-btn{
			display: block;
			width: 64px;
			height: 40px;
			position: absolute;
			top: 210px;
			left: 125px;
		}
	}
}