<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/mobile.css"/>
  <title>杰卡斯真情相约|逢9必聚</title>
</head>
<body>
<div class="wrap">
  <div class="logo">
    <img src="css/img/top-logo-mobile.png" alt="杰卡斯"/>
  </div>
  <div class="promo">
    <div class="title">
      <img src="css/img/title.png" alt="杰卡斯"/>
    </div>
    <div class="promo-info">

    </div>
    <a class="go-lottery" href="lottery.html?utm_source=weixin">
      <img src="css/img/go-lottery.png" alt=""/>
    </a>

    <p>关注官方微信，<br>
      即可参与
      <i>每月9日、19日、29日</i>
      抽奖，<br>
      赢缤纷好礼。</p>

    <p>发现更多精彩：<br>
      1.长按保存二维码，在“扫一扫”功能选择“从相册选择二维码”。<br>
      2.搜索<i>“杰卡斯真情有我”</i>
    </p>
    <img class="qr-code" src="css/img/jacobs-qrcode.png" alt=""/>
  </div>
</div>
<script id="promo-info" type="text/template">
  <h2>发送成功！</h2>
  <p>
    {%if promoId %}您已获<span>专享优惠券</span>一张，<br>{%/if%}
    中奖几率<span>已提升</span>，赶紧抽取！
  </p>
  {%if promoId %}
  <a href="data/promo/promo-${promoId}.jpg">
    <img src="data/promo/promo-${promoId}-thumb.jpg" alt="优惠券 "/>
  </a>
  <p class="hint">请点击图片打开优惠券，长按将优惠券保存到手机并前往餐厅享用。</p>
  {%/if%}
</script>
<script src="../js/modernizr.min.js"></script>
<script src="js/promo.js"></script>
</body>
</html>